.stories-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: inherit;
}

.show-more {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #3e4042;
  z-index: 2;
  right: -20px;
  border-radius: 50%;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.show-more svg {
  fill: #a9abb0;
  transform: scale(1.2);
}

.show-more:hover {
  background-color: #525455;
}

.story {
  position: relative;
  width: 106px;
  height: 190px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

.story::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1;
}

.story:hover::before {
  background-color: rgba(0, 0, 0, 0.1);
}

.create-story--pic {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: inherit;
  height: 140px;
  overflow: hidden;
}

.background-image {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image img {
  margin-left: 30px;
}

.story img {
  height: 100%;
  transition: all ease-out 0.2s;
}

.story:hover img:not(.story-owner--pic) {
  height: 102%;
}

.create-story {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-color: #242526;
  height: 50px;
}

.plus-icon {
  position: absolute;
  top: -15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #2e89ff;
}

.plus.column,
.plus.row {
  top: 15px;
  left: 7px;
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: white;
}

.plus.column {
  top: 15px;
  transform: rotate(90deg);
}

.text-create {
  height: 30px;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.container-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.story-container:not(.story-container.create) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: inherit;
  width: inherit;
  width: 80%;
  height: 90%;
  vertical-align: middle;
}

.story-container .story-owner {
  width: 35px;
  height: 35px;
  border: 4px solid #2e89ff;
  border-radius: 50%;
  overflow: hidden;
}

.story-container .story-owner--name {
  font-weight: 500;
}

.story-container .story-owner--name p {
  margin: 0;
}
